<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.unidavi.backupdb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cloud_round"
        android:label="Backup em Nuvem"
        android:roundIcon="@mipmap/ic_launcher_cloud_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".principal.Tarefa"
            android:label="Tarefas"
            android:logo="@drawable/logout">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value=".features.login.Login" />
        </activity>
        <activity android:name=".principal.Historico.Historico">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".principal.Tarefa" />
        </activity>
    </application>

</manifest>